.wrapper {
  margin: 8px 0px;
  padding: 12px;
  background-color: whitesmoke;
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  font-family: 'Montserrat';
  color: black;
  text-align: left;
}

.container_titlePost {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.container_infoAboutPost {
  font-size: 22px;
  font-weight: 300;
}
